In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("orders.csv")

In [3]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [5]:
df.tail()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

In [6]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [7]:
df.shape

(40, 9)

In [8]:
df[['OrderID','Product','Price']]

    OrderID                Product   Price
0      1001                 Laptop  1200.0
1      1002             Headphones   150.0
2      1003           Office Chair   300.0
3      1004              Desk Lamp    45.0
4      1005               Keyboard    80.0
5      1006               Notebook     5.0
6      1007          Standing Desk   450.0
7      1008                Monitor   220.0
8      1009                    Pen     1.5
9      1010                  Mouse    35.0
10     1011                 Webcam    85.0
11     1012           File Cabinet   180.0
12     1013                Stapler    12.0
13     1014              USB Drive    25.0
14     1015              Bookshelf   280.0
15     1016          Printer Paper     8.0
16     1017         Wireless Mouse    45.0
17     1018         Desk Organizer    65.0
18     1019             Calculator    15.0
19     1020             Whiteboard   120.0
20     1021           Highlighters     3.5
21     1022      Bluetooth Speaker    95.0
22     1023           Office Plant    35.0
23     1024           Sticky Notes     4.0
24     1025           Tablet Stand    28.0
25     1026         Paper Shredder    75.0
26     1027         Desk Chair Mat    22.0
27     1028           Binder Clips     2.5
28     1029      Wireless Keyboard   110.0
29     1030          Desk Calendar    18.0
30     1031                USB Hub    32.0
31     1032       Document Scanner   140.0
32     1033  Desk Drawer Organizer    42.0
33     1034            Index Cards     0.8
34     1035          Monitor Stand    55.0
35     1036     Desk Lamp with USB    68.0
36     1037       Wireless Earbuds   125.0
37     1038               Desk Pad    28.0
38     1039            Power Strip    18.0
39     1040             Desk Clock    35.0

In [13]:
df[['OrderID','Product']].where(df['Quantity']>5) # this replaces rows with Nan where ondition doesnt match

    OrderID        Product
0       NaN            NaN
1       NaN            NaN
2       NaN            NaN
3       NaN            NaN
4       NaN            NaN
5       NaN            NaN
6       NaN            NaN
7       NaN            NaN
8    1009.0            Pen
9       NaN            NaN
10      NaN            NaN
11      NaN            NaN
12      NaN            NaN
13      NaN            NaN
14      NaN            NaN
15   1016.0  Printer Paper
16      NaN            NaN
17      NaN            NaN
18      NaN            NaN
19      NaN            NaN
20   1021.0   Highlighters
21      NaN            NaN
22      NaN            NaN
23   1024.0   Sticky Notes
24      NaN            NaN
25      NaN            NaN
26      NaN            NaN
27   1028.0   Binder Clips
28      NaN            NaN
29      NaN            NaN
30      NaN            NaN
31      NaN            NaN
32      NaN            NaN
33   1034.0    Index Cards
34      NaN            NaN
35      NaN            NaN
36      NaN            NaN
37      NaN            NaN
38      NaN            NaN
39      NaN            NaN

In [14]:
df[df['Quantity']>5] #filters out rows first hlf is row, col is emoty by default so all coloumns are shown

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [17]:
df.loc[df['Quantity']>5, ['OrderID','Product']] # to ref with a condition and col use loc, to reference with index and col use iloc

    OrderID        Product
8      1009            Pen
15     1016  Printer Paper
20     1021   Highlighters
23     1024   Sticky Notes
27     1028   Binder Clips
33     1034    Index Cards

In [18]:
df[df['Country']=='USA']

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [20]:
df.loc[df['Country']=='USA'] # using loc

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [21]:
df.loc[df['Country']=='USA',['OrderID','Country']]

    OrderID Country
0      1001     USA
17     1018     USA
33     1034     USA

In [31]:
df[(df['Country']=='USA') & (df['Quantity']>5)]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [33]:
df[(df['Country']=='USA') | (df['Country']=='UK')]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK

In [5]:
df.sort_values('Price',ascending=True).head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan

In [6]:
df['TotalAmount']=df['Quantity']*df['Price']

In [7]:
df

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country,TotalAmount
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA,1200.0
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada,300.0
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE,300.0
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore,135.0
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico,160.0
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE,25.0
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK,450.0
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea,440.0
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy,15.0
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan,35.0
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France,85.0
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India,360.0
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia,36.0
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain,125.0
14,1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China,280.0
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt,160.0
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland,90.0
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA,65.0
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan,15.0
19,1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia,120.0
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada,28.0
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil,95.0
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany,70.0
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan,60.0
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden,28.0
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France,75.0
26,1027,Miguel Torres,Desk Chair Mat,Furniture,1,22.0,2024-06-28,No,Argentina,22.0
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia,30.0
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea,110.0
29,1030,Giuseppe Romano,Desk Calendar,Furniture,1,18.0,2024-07-01,No,Italy,18.0
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco,32.0
31,1032,Thomas Mller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany,140.0
32,1033,Sofia Rodriguez,Desk Drawer Organizer,Furniture,1,42.0,2024-07-04,No,Colombia,42.0
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA,80.0
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan,55.0
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK,68.0
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal,125.0
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran,28.0
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea,36.0
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine,35.0

In [10]:
df['TotalAmount'].groupby(by=df['Country']).sum() #u create group and then specify what to do with that group

Country
Argentina         22.0
Australia         36.0
Brazil            95.0
Canada           328.0
China            280.0
Colombia          42.0
Egypt            160.0
France           160.0
Germany          210.0
India            360.0
Iran              28.0
Italy             33.0
Japan            105.0
Mexico           160.0
Morocco           32.0
Pakistan          60.0
Poland            90.0
Portugal         125.0
Russia            30.0
Saudi Arabia     120.0
Singapore        135.0
South Korea      586.0
Spain            125.0
Sweden            28.0
UAE              325.0
UK               518.0
USA             1345.0
Ukraine           35.0
Name: TotalAmount, dtype: float64

In [12]:
df.groupby(df['Country'])['TotalAmount'].sum()  #Another method

Country
Argentina         22.0
Australia         36.0
Brazil            95.0
Canada           328.0
China            280.0
Colombia          42.0
Egypt            160.0
France           160.0
Germany          210.0
India            360.0
Iran              28.0
Italy             33.0
Japan            105.0
Mexico           160.0
Morocco           32.0
Pakistan          60.0
Poland            90.0
Portugal         125.0
Russia            30.0
Saudi Arabia     120.0
Singapore        135.0
South Korea      586.0
Spain            125.0
Sweden            28.0
UAE              325.0
UK               518.0
USA             1345.0
Ukraine           35.0
Name: TotalAmount, dtype: float64

In [15]:
df['Price'].groupby(df['Product']).mean()

Product
Binder Clips                2.5
Bluetooth Speaker          95.0
Bookshelf                 280.0
Calculator                 15.0
Desk Calendar              18.0
Desk Chair Mat             22.0
Desk Clock                 35.0
Desk Drawer Organizer      42.0
Desk Lamp                  45.0
Desk Lamp with USB         68.0
Desk Organizer             65.0
Desk Pad                   28.0
Document Scanner          140.0
File Cabinet              180.0
Headphones                150.0
Highlighters                3.5
Index Cards                 0.8
Keyboard                   80.0
Laptop                   1200.0
Monitor                   220.0
Monitor Stand              55.0
Mouse                      35.0
Notebook                    5.0
Office Chair              300.0
Office Plant               35.0
Paper Shredder             75.0
Pen                         1.5
Power Strip                18.0
Printer Paper               8.0
Standing Desk             450.0
Stapler                    12.0
Sticky Notes                4.0
Tablet Stand               28.0
USB Drive                  25.0
USB Hub                    32.0
Webcam                     85.0
Whiteboard                120.0
Wireless Earbuds          125.0
Wireless Keyboard         110.0
Wireless Mouse             45.0
Name: Price, dtype: float64

In [19]:
df.groupby('Product')['TotalAmount'].sum().sort_values(ascending=False).head(3)

Product
Laptop           1200.0
Standing Desk     450.0
Monitor           440.0
Name: TotalAmount, dtype: float64

In [21]:
df.groupby('Country')['OrderID'].count()

Country
Argentina       1
Australia       1
Brazil          1
Canada          2
China           1
Colombia        1
Egypt           1
France          2
Germany         2
India           1
Iran            1
Italy           2
Japan           3
Mexico          1
Morocco         1
Pakistan        1
Poland          1
Portugal        1
Russia          1
Saudi Arabia    1
Singapore       1
South Korea     3
Spain           1
Sweden          1
UAE             2
UK              2
USA             3
Ukraine         1
Name: OrderID, dtype: int64

In [22]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country,TotalAmount
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA,1200.0
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada,300.0
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE,300.0
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore,135.0
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico,160.0

In [24]:
type(df['OrderDate'][1])

str

In [25]:
df['OrderDate']=pd.to_datetime(df['OrderDate'])

In [26]:
df.loc[df['OrderDate'].dt.year>=2023]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country,TotalAmount
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA,1200.0
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada,300.0
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE,300.0
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore,135.0
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico,160.0
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE,25.0
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK,450.0
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea,440.0
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy,15.0
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan,35.0
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France,85.0
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India,360.0
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia,36.0
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain,125.0
14,1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China,280.0
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt,160.0
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland,90.0
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA,65.0
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan,15.0
19,1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia,120.0
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada,28.0
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil,95.0
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany,70.0
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan,60.0
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden,28.0
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France,75.0
26,1027,Miguel Torres,Desk Chair Mat,Furniture,1,22.0,2024-06-28,No,Argentina,22.0
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia,30.0
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea,110.0
29,1030,Giuseppe Romano,Desk Calendar,Furniture,1,18.0,2024-07-01,No,Italy,18.0
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco,32.0
31,1032,Thomas Mller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany,140.0
32,1033,Sofia Rodriguez,Desk Drawer Organizer,Furniture,1,42.0,2024-07-04,No,Colombia,42.0
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA,80.0
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan,55.0
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK,68.0
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal,125.0
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran,28.0
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea,36.0
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine,35.0

In [27]:
df.isnull().sum()

OrderID         0
CustomerName    0
Product         0
Category        0
Quantity        0
Price           0
OrderDate       0
Shipped         0
Country         0
TotalAmount     0
dtype: int64

In [29]:
df[df['Price'].isnull()]

Empty DataFrame
Columns: [OrderID, CustomerName, Product, Category, Quantity, Price, OrderDate, Shipped, Country, TotalAmount]
Index: []

In [30]:
df['Price'].fillna(0)

0     1200.0
1      150.0
2      300.0
3       45.0
4       80.0
5        5.0
6      450.0
7      220.0
8        1.5
9       35.0
10      85.0
11     180.0
12      12.0
13      25.0
14     280.0
15       8.0
16      45.0
17      65.0
18      15.0
19     120.0
20       3.5
21      95.0
22      35.0
23       4.0
24      28.0
25      75.0
26      22.0
27       2.5
28     110.0
29      18.0
30      32.0
31     140.0
32      42.0
33       0.8
34      55.0
35      68.0
36     125.0
37      28.0
38      18.0
39      35.0
Name: Price, dtype: float64

In [31]:
df.Country.value_counts()

Country
USA             3
South Korea     3
Japan           3
Canada          2
France          2
UAE             2
Italy           2
UK              2
Germany         2
Singapore       1
India           1
Mexico          1
Australia       1
Spain           1
Egypt           1
China           1
Poland          1
Saudi Arabia    1
Brazil          1
Pakistan        1
Sweden          1
Argentina       1
Russia          1
Morocco         1
Colombia        1
Portugal        1
Iran            1
Ukraine         1
Name: count, dtype: int64