In [1]:
import pandas as pd

In [2]:
import re

In [3]:
df=pd.read_csv("reviews.csv")

In [4]:
df

,ID,Name,Email,Phone,Review
0,1,John Doe,john.doe@example.com,9876543210,I love Python!!! #AI #ML
1,2,Jane Smith,jane.smith@example.com,9123456789,"Worst experience üò°, never coming back!"
2,3,Bob Johnson,bob.j@example.com,9988776655,Check out my blog: https://example.com
3,4,Alice Brown,alice.b@example.com,9871122334,Amazing service!!! 5 stars ‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê
4,5,Charlie Lee,charlie.l@example.com,9765432109,"Not satisfied, needs improvement."
5,6,David Kim,david.k@example.com,9654321098,"Great product, will buy again!"
6,7,Eve Davis,eve.d@example.com,9543210987,"Terrible delivery, very late!"
7,8,Frank Moore,frank.m@example.com,9432109876,Excellent support and guidance.
8,9,Grace Hall,grace.h@example.com,9321098765,"Loved the experience, highly recommend."
9,10,Hank Allen,hank.a@example.com,9210987654,"Poor packaging, item damaged."
10,11,Ivy Scott,ivy.s@example.com,9109876543,Amazing quality for the price.
11,12,Jack White,jack.w@example.com,9898765432,Delivery was fast and efficient.
12,13,Karen Young,karen.y@example.com,9787654321,Customer service could be better.
13,14,Liam King,liam.k@example.com,9676543210,"Fantastic features, very useful."
14,15,Mia Wright,mia.w@example.com,9565432109,Disappointed with the color options.
15,16,Noah Hill,noah.h@example.com,9454321098,Easy to use and reliable.
16,17,Olivia Green,olivia.g@example.com,9343210987,Not worth the money.
17,18,Paul Adams,paul.a@example.com,9232109876,"Highly satisfied, will order again."
18,19,Quinn Baker,quinn.b@example.com,9121098765,Product arrived as described.
19,20,Rachel Clark,rachel.c@example.com,9010987654,Customer support was unhelpful.
20,21,Sam Evans,sam.e@example.com,9987654321,Very user-friendly interface.
21,22,Tina Foster,tina.f@example.com,9876543211,Shipping took too long.
22,23,Uma Harris,uma.h@example.com,9765432102,Excellent quality and service.
23,24,Victor Jones,victor.j@example.com,9654321093,"Poor instructions, hard to assemble."
24,25,Wendy Lewis,wendy.l@example.com,9543210984,Loved the colors and design.
25,26,Xander Miller,xander.m@example.com,9432109875,Battery life is short.
26,27,Yara Nelson,yara.n@example.com,9321098766,Great value for money.
27,28,Zack Owens,zack.o@example.com,9210987657,"Not as described, disappointed."
28,29,Alice Perry,alice.p@example.com,9109876548,Fast delivery and good packaging.
29,30,Brian Quinn,brian.q@example.com,9898765439,Amazing! Exceeded my expectations.

In [5]:
re.findall(r'\d',str(df.loc[0,"Phone"]))

['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']

['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']

In [6]:
re.findall(r'\d\d',str(df.loc[0,"Phone"]))

['98', '76', '54', '32', '10']

#replacing a value using sub()
suntax-> re.sub(pattern, replacement_text, text)

In [9]:
re.sub(r'\w+',"John D",str(df.loc[0,"Name"]))

'John D John D'

In [10]:
#replace the 29 records phone number with 9xxxxxxx9
re.sub(r'\d+',"9xxxxxxx9",str(df.loc[29,"Phone"]))

'9xxxxxxx9'

In [16]:
#mask the email id  for 5th record
re.sub(r'[A-Za-z0-9.]+.example.com',"xxxxxx.example.com",df.loc[5,"Email"])

'xxxxxx.example.com'

In [15]:
re.sub(r'\w+.\w+@','****@',df.loc[5,"Email"])

'****@example.com'